<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="ultrasonic_sensor" params="bot_name">

    <xacro:property name="lidar_length" value="0.024" />
    <xacro:property name="lidar_width" value="0.05" />
    <xacro:property name="lidar_height" value="0.023" />

    <link name="${bot_name}_lidar_link">
        <visual>
            <geometry>
                <box size="${lidar_length} ${lidar_width} ${lidar_height}" />
            </geometry>
            <material name="grey" />
        </visual>
        <collision>
            <geometry>
                <box size="${lidar_length} ${lidar_width} ${lidar_height}" />
            </geometry>
        </collision>
        <xacro:box_inertia m="0.1" x="${lidar_length}" y="${lidar_width}" z="${lidar_height}"
                           o_xyz="0 0 0" o_rpy="0 0 0" />
    </link>

    <joint name="${bot_name}_base_lidar_joint" type="fixed">
        <parent link="${bot_name}_servo_link" />
        <child link="${bot_name}_lidar_link" />
        <origin xyz="-0.0025 0 0.026" rpy="0 0 0" />
    </joint>

    <link name="${bot_name}_lidar_link_optical" />

    <joint name="${bot_name}_lidar_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        <parent link="${bot_name}_lidar_link"/>
        <child link="${bot_name}_lidar_link_optical"/>
    </joint>

    <gazebo reference="${bot_name}_lidar_link">
        <sensor type="ray" name="${bot_name}_lidar_sensor">
            <update_rate>10.0</update_rate>
            <ray>
                <scan>
                    <horizontal>
                    <samples>720</samples>
                    <resolution>1</resolution>
                    <min_angle>-3.14159</min_angle>
                    <max_angle>3.14159</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.12</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>

            <plugin name="gazebo_ros_laser" filename="libgazebo_ros_ray_sensor.so">
            <ros>
                <namespace>/</namespace>
                <remapping>~/out:=scan</remapping>
            </ros>
            <output_type>sensor_msgs/LaserScan</output_type>
            <frame_name>${bot_name}_lidar_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</xacro:macro>
</robot>
